django>=4.2.0,<4.3.0
djangorestframework>=3.14.0,<4.0.0
psycopg2-binary
django-allauth # allauth social login
requests
cryptography
python-dotenv #.env file
social-auth-app-django #allauth social login
django-storages >= 1.14.0
boto3 == 1.34.144
pillow
drf-yasg #swagger
requests #스크래핑
beautifulsoup4 #스크래핑
celery #스크래핑
flower #스크래핑
django-celery-beat #주기적인 크롤링요청
PyJWT #API token
django-cors-headers #for the case, front-end has different port than django
django-tinymce
django-cors-headers
setuptools
elasticsearch-dsl #검색
retrying #검색앱이 실행될떄까지 app재실행
django-crontab #날씨
requests #스크래핑
beautifulsoup4 #스크래핑
lxml #스크래핑