django>=4.2.0,<4.3.0
djangorestframework>=3.14.0,<4.0.0
psycopg2-binary
django-allauth
requests
djangorestframework-simplejwt
cryptography
python-dotenv
social-auth-app-django
django-storages >= 1.14.0
boto3 == 1.34.144
pillow
djangorestframework-simplejwt
drf-yasg #swagger
django-tinymce
django-cors-headers
setuptools
elasticsearch-dsl #검색
retrying #검색앱이 실행될떄까지 app재실행
django-crontab #날씨